name: Build RoboWIPO

on: [push, workflow_dispatch]

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - run: pip install pyinstaller selenium==4.15.2
      - run: pyinstaller --onefile --console --name=RoboWIPO RoboWIPO.py
      - uses: actions/upload-artifact@v4
        with:
          name: RoboWIPO-Windows
          path: dist/RoboWIPO.exe
